{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Главная {% endblock %} ::Список рейсов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'constr/style.css' %}">
</head>
<body>
<h1>Рейсы</h1>
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'add' %}">Добавить рейс</a>
        <a href="{% url 'trucks' %}">Самосвалы</a>
        <a href="{% url 'careers' %}">Карьеры</a>
        <a href="{% url 'warehouses' %}">Склады</a>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>